<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flask Web App</title>
</head>
<body style="display: flex; flex-direction: column; align-items: center;">
    <nav style="display: flex; justify-content: center;">
        <ul style="display: flex; gap: 20px; font-size: 22px; list-style-type:none;">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </nav>
    <h1>Welcome to Flask!</h1>
    <button id="alertBtn">Click Me</button> <br>
    <button id="secBtn">Second Button</button>

    <p>This is a Car</p>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTug63H6q8Ji-nxH2Ikx3pQUM2CqGB5Bkr_KQ&s" alt="car">

    <script src="/static/script.js"></script>
</body>
</html>
